## Tuple

In [1]:
tup = ('Max', 2, 'thor')
print(tup)

('Max', 2, 'thor')

In [2]:
print(type(tup))

<class 'tuple'>

In [3]:
tup2 = ('Max')
print(type(tup2))

<class 'str'>

In [4]:
tup4 = 'Max', 2, 'thor', 'mahi'
print(tup4)
print(type(tup4))

('Max', 2, 'thor', 'mahi')
<class 'tuple'>

## tuple creation from list

In [5]:
tup = tuple(['thor', 2, 'mahi'])
print(tup)
print(type(tup))

('thor', 2, 'mahi')
<class 'tuple'>

In [8]:
item = tup[1]
print(item)

2

In [9]:
for i in tup:
    print(i)

thor
2
mahi

In [2]:
a = (1,2,3,4,5,6,7,8,9)
a[:-2]

(1, 2, 3, 4, 5, 6, 7)

In [3]:
a[:1]

(1,)

In [7]:
my_tuple = 'thor', 2000000, 'India'
name, num, country = my_tuple
print(name, num, country)

thor 2000000 India

In [9]:
a = (1,2,4,5,6,7,8)
i, *l, h = a
print('i:- ', i)
print('*l:- ', l)
print('a:- ', h)

i:-  1
*l:-  [2, 4, 5, 6, 7]
a:-  8

In [1]:
import sys
a = ('mahi', 2, 9, 'thor')
print(sys.getsizeof(a))

72

In [2]:
# compare the execution time of the list

a_list = [1,2,3,4,5,6]
a_tuple = (1,2,3,4,5,6)

print(sys.getsizeof(a_list), 'byte size of list')
print(sys.getsizeof(a_tuple), 'byte size of tuple')

import timeit

print(timeit.timeit(stmt='[1,2,3,4,5,6]', number = 1000000))
print(timeit.timeit(stmt='(1,2,3,4,5,6)', number = 1000000))

152 byte size of list
88 byte size of tuple
0.0709431980003501
0.008394037000471144